body{
	background-image: url('../img/footer_lodyas.png');
	background-repeat: repeat;
	color: white;
}

main{
	padding-top: 8%;
}

input{
	padding-bottom: 1%;
}

input, textarea, button{	
	margin-bottom: 2%;
}

#formupload{
	padding-top: 15%;
}

#blocleft{
	background-color: lightgrey;
	padding-left: 2%;
	padding-right: 2%;
	color: black;
}

#logo{
	border-radius: 50%;
	margin-bottom: 5%;
	max-width: 100%;
	border: 2px solid white;
}

#msgconfirmup, #msgconfirmdl{
	padding-top: 10%;
}

#btnagain{
	margin-top: 5%;
}

#dest_message{
	padding: 4%;
}

#zonefilename{
	margin-bottom: 2%;
}